@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1, h2 {
    font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: "Helvetica", sans-serif;
    color: #333;
}

nav {
    list-style: none;
}