@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1, h2 {
    font-family: "Josefin Sans", sans-serif;
}

p, a {
    font-family: "Helvetica", sans-serif;
    color: #333;
}

header {
    align-content: center;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
}
