@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1, h2 {
    font-family: "Josefin Sans", sans-serif;
}

p, a {
    font-family: "Helvetica", sans-serif;
    color: #333;
}

header {
    align-content: center;
}

nav li {
   text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

nav a :link, nav a :visited {
    color: #666;
}

nav a :hover {
    color: #00ddff;
}